<%-include('../layouts/head');%>
<div class="container mt-4" x-data="usuariosComponent()">
	<div class="row mx-auto my-auto justify-content-center">

		<div class="col-8">

			<div class="card">
				<div class="card-header text-center">
					<h4> Usuarios </h4>
				</div>
				<div class="card-body">

					<table class="table text-center">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Username</th>
								<th scope="col">Password</th>
							</tr>
						</thead>
						<tbody>

							<p x-text="totalUsers"></p>


							<template x-for="u in users">
								<tr>
									<th x-text="u.id" scope="row">1</th>
									<td x-text="u.username">Mark</td>
									<td x-text="u.password">Mark</td>
								</tr>
							</template>
							
						</tbody>
					</table>

				</div>

				<div class="card-footer text-center">
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" @click="prevPage" class="btn btn-primary">Prev</button>
						<button type="button" @click="nextPage" class="btn btn-primary">Next</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<%-include('../layouts/scripts');%>

<script type="text/javascript">

	function usuariosComponent() {
		return {
			users: <%- JSON.stringify(users) %>,
			totalUsers: <%= totalUsers %>,
			page: <%= page %>,
			limit: <%= limit %>,
			baseURL: "http://localhost:3000/usuario",


			prevPage: function() {
				if(this.page > 1) {
					this.page--;
					axios.get(this.baseURL+"/get?page="+this.page)
					.then(res => this.users = res.data.users)
					.catch(e => console.log(e));
				}
			},

			nextPage: function() {
				if(this.page < 10) {
					this.page++;
					axios.get(this.baseURL+"/get?page="+this.page)
					.then(res => this.users = res.data.users)
					.catch(e => console.log(e));
				}
			}
		}
	}

</script>


<%-include('../layouts/foot');%>